<div class="container">
 <div class="wrapper-form">
  <%= simple_form_for @restaurant do |f| %>
     <%= f.input :name %>
     <%= f.input :address %>
     <%= f.input :category %>
     <p class="info-resto"><%= f.button :submit, class: 'btn btn-success' %>
      <%= link_to 'Back to Restaurants', root_path, class: 'btn btn-info' %>
   <% end %>

   </div>
</div>
