<div class="container">
  <div class="wrapper-restaurant">
    <div class="cards">
      <h3 class="resto-name"><%= @restaurant.name %></h3>
      <p class="info-resto"> Category: <%= @restaurant.category %></p>
      <p> Adress: <%= @restaurant.address %></p>
      <p class="info-resto"><%= link_to 'Back to Restaurants', restaurants_path, class: 'btn btn-info' %> <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-success' %>
    </div>
  </div>
</div>
