<div class="container">
  <div class="wrapper-restaurant">
    <div class="cards">
      <h3 class="resto-name"><%= @restaurant.name %></h3>
      <p class="info-resto"> Category: <%= @restaurant.category %></p>
      <p> Adress: <%= @restaurant.address %></p>
      <p class="info-resto"><%= link_to 'Back to Restaurants', root_path, class: 'btn btn-info' %> <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-success' %>
      </p>
      <% @restaurant.reviews.each do |review| %>
        <p><%= review.content %></p> <p>Rating : <%= review.rating %></p>
      <% end %>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add a review
      </button>

<!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@restaurant, @review] do |f| %>
                <%= f.input :content %>
                <%= f.input :rating %>
                <%= f.button :submit %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
